{% extends 'base.html' %}
{% load static %}
{% block title %} Detalhes {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Creative Blog</a>
            <ul class="navbar-nav ml-auto">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white mr-2" href="{% url 'registrar' %}">Registrar</a>
                    </li>
                {% elif user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'painel' %}">Painel</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="link-danger ml-2" href="{% url 'sair' %}">Sair</a>
                    </li>
                {% endif %}
            </ul>       
        </div>      
    </nav>

    <div class="container mt-4">
        <h2 class="text-center">{{post.title}}</h2>
        <p>{{post.description}}</p>
        <img class="mb-4 img-fluid" src="{{post.image.url}}" alt="{{post.title}}">
        <p>{{post.description}}</p>
        <p>Autor: {{post.author}}</p>
        <p>Data: {{post.created_date}}</p>
    </div>

    <div class="container">
        <hr>
        <h3>Comentários</h3>
        {% if comentarios %}
            {% for comentario in comentarios %}
            <div class="border p-3 mb-3">
                <strong>
                    {{ comentario.nome }} - {{ comentario.created_date }}
                </strong>
                <br>
                <p>
                    {{ comentario.comentario }}
                </p>
                <br>
            </div>
            {% endfor %}
        {% else %}
            <p>Nenhum comentário</p>
        {% endif %}

        {% if user.is_authenticated %}
            <form class="form-control mt-4 text-center" method="post" action="{% url 'detalhes' id=post.id %}">
                {% csrf_token %}
                {{ form.comentario }}
                <button class="btn btn-success mt-2" type="submit">Comentar</button>
            </form>
        {% else %}
            <p class="text-center mt-4">Faça <a class="link-primary" href="{% url 'login' %}">login</a> para comentar.</p>
        {% endif %}
    </div>
{% endblock %}