{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'post_list' %}">Creative Blog</a>
        <div class="ml-auto">
            <a class="navbar-text text-white" href="{% url 'login' %}">Login</a>
        </div>
    </div>      
  </nav>

  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for post in posts %}
        <div class="col">
          <div class="card">
            <img src="{{post.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.description}}</p>
              <a class="btn btn-primary  btn-sm" href="{% url 'detalhes' post.id %}" role="button">Visualizar</a>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>
  
{% endblock %}
